extends layout
 
block content
  h1= title
  .container-fluid
    .row
      -
      for door in doors
        .col-sm-2
          h3= `Type: ${door.Type}`
          p= `Model: ${door.Model}`
          p= `Price: ${door.Price}`