extends layout

block content
  h1= title
  form(id='doorsForm', action="/resource/doors", method="POST" class="mt-4")
    .form-group
      label(for='doors_type') Doors Type
      input#doors_type.form-control(type='text', name='doors_type')
    .form-group
      label(for='model') Doors Model
      input#model.form-control(type='text', name='doors_model')
    .form-group
      label(for='price') Doors Price
      input#cost.form-control(type='number', name='doors_price')
    button.btn.btn-primary(type="submit") Submit

  script.
    document.forms['doorsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error );
      });
    });
