extends layout
 
block content
  h1 This is Doors Page
  -
    let results = [
      { Type: 'Flush', Model: 'Wood', Price: 20000 },
      { Type: 'Dutch', Model: 'Timber', Price: 25000 },
      { Type: 'Louver', Model: 'Plywood', Price: 15000 }
    ]
 
  .container-fluid
    .row
      each item, index in results
        .col-sm-2
          .search-result(onclick=`buy(${index})`)
            h6 Type: #{item.Type}
            h6 Model: #{item.Model}
            h6 Price: #{item.Price}
 
  a(href="/") Back to index page
 
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }
 