extends layout

block content
  h1= title
  p Sri sowmya polampalli #{title}
  button I'm a button 
  p
  button(type="button", class="btn btn-secondary", onclick="double()")     Press me
  p 
  div(id="double") Up the amount
  p
  a(href='/doors') View doors
 
  script.
    console.log("running on http://localhost:3000/")
  script.
    var value = 0;
    var power = 1;
    function double(){
        value++;
        power *= 2;
        var result = "2 to the power of " + value + " is " + power;
        document.getElementById('double').innerText = result;
    }
