extends layout
 
block content
  h1= title
  p Welcome to sowmya web page #{title}
 
  button(type="button", class="btn btn-secondary" onclick="double()") button
  p
  div#double Up the amount
  p
  a(href='/doors') View doors
 
  script.
    console.log("running on http://localhost:3000/")
 
  script.
    var value = 0;
    var power = 1;
 
    function double() {
        value += 1;
        power *= 2;
        document.getElementById('double').textContent = `Two to the power ${value} is ${powerg}`;
    }