extends layout

block content
  h1 A random item
  - var image_names = ['D1.jpg', 'D2.jpg', 'D3.jpg', 'D4.jpg', 'D5.jpg']
  - for (let i = 0; i < 3; i++)
    - var randomIndex = Math.floor(Math.random() * 5)
    img(src=`/images/${image_names[randomIndex]}`, alt=image_names[randomIndex], height="300", width="300")